@import "tailwindcss";
@import "fumadocs-ui/css/black.css";
@import "fumadocs-ui/css/preset.css";

* {
  border-radius: 0;
}

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px;
  --removed-body-scroll-bar-size: 0px;
}

.dark {
  --color-fd-secondary: hsl(0, 0%, 0%);
  --color-fd-accent: hsl(0, 0%, 0%);
  --color-fd-card: hsl(0, 0%, 0%);
  --color-fd-muted: hsl(0, 0%, 0%);
}

.prose :where(h1) {
  font-size: 1.7rem;
  line-height: 1.2;
}

.prose :where(h2) {
  font-size: 1.35rem;
  line-height: 1.25;
}

.prose :where(h3) {
  font-size: 1.15rem;
  line-height: 1.3;
}

.prose :where(p, li, td, th) {
  font-size: 0.93rem;
  line-height: 1.6;
}

.prose :where(pre, pre code),
.prose :where(.shiki),
.prose :where(.shiki code) {
  font-size: 0.8rem;
}
